:root {
  --bg-normal: radial-gradient(66.67% 66.67% at 50% 33.33%, #858d90 0%, #7e8d8e 100%);
  --bg-success: radial-gradient(66.67% 66.67% at 50% 33.33%, #047855 0%, #078e6d 100%);
  --bg-primary: radial-gradient(66.67% 66.67% at 50% 33.33%, #00afdb 0%, #00d3de 100%);
  --bg-warning: radial-gradient(66.67% 66.67% at 50% 33.33%, #ef9e33 0%, #f9c80e 100%);
  --bg-danger: radial-gradient(66.67% 66.67% at 50% 33.33%, #e11a1a 0%, #f82424 100%);
  }

.app-page {
  padding-top: 20px;
}
